.post-item{
    margin-bottom: 20px;
}

.post-item .footer{
    display: flex;
    align-items: center;
    justify-content: space-between
}

.post-item .toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between
}