.comment-box h3{
  display: flex;
  align-items: center;
}
.comment{
  background-color: white;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 6px 0px #888;
}

.comment-actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comment-buttons button{
  display: inline-flex;
  align-items: center;
  justify-content: center
}
.comment-buttons button:hover,
.comment-buttons button:active{
  text-decoration: none;
}